<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
  <title>Enter Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<section layout:fragment="content">
  <h1>Enter</h1>
  <form action="#" th:action="@{/enter}" method="post">
    <p th:if="${usernameerror != null}" th:text="${usernameerror.error}"></p>
    <p th:if="${similarusererror != null}" th:text="${similarusererror.error}"></p>
    <div>
      <label>Choose your name:</label>
      <input type="text" name="username"/>
      <input type="submit" value="Enter"/>
    </div>
  </form>
</section>
</body>
</html>